body {
    background-color: rgb(117, 238, 62);
    color: rgb(240, 255, 23);
    font-family: cursive;
    margin: 0;
    padding: 0;
}

#titular {
    color: whitesmoke;
    font-size: 20;
}

img {
    text-align: left;
    width: 200px;
}

li {
    color: aliceblue;
}


