body {
    background-color: teal;
    color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#titular {
    color: whitesmoke;
    font-size: 20;
}

img {
    text-align: left;
    width: 200px;
}

li {
    color: aliceblue;
}


